!-- Experience Section -->
    <section id="experience">
        <div class="container">
         <h2 class="section-heading">Experience</h2>
         
 <h3>Digital Solutions Manager, UNC-Chapel Hill ITS</h3
Chapel Hill, NC — 2015-present        
         
<h3>Head of User Experience, UNC-Chapel Hill Libraries</h3
Chapel Hill, NC — 2012-2015

Responsibilities:
Lead the Library’s 4.5 FTE User Experience Department. 
Responsible for a website with 3.3 million views per year. 
Direct the development of the library’s web presence. 
Responsible for identifying trends in user behavior; directing web usability and other appropriate assessment activities. 
Stay abreast of design trends, interface capabilities and technologies that enhance library services. 
Serve as a resource for staff and an advocate for user needs 
Communicate projects, priorities, and goals with stakeholders, and partners with appropriate campus units to support student and faculty needs

Project
Spearheaded the redesign of the UNC libraries website. Transformed a 20,000+ page manually coded website into to a 100 page user-centered responsive WordPress site. 2013
http://www.library.unc.edu/
Created website goals
Gathered feedback from users through usability testing and focus groups throughout the process 
Conducted a content audit
Developed the site's information architecture
Met with stakeholders to determine needs and gain buy-in
Designed the website's look and feel
Worked closely with WordPress developers and directed the site build-out
Rewrote content with web-friendly text
Managed content migration

Project
Charged with the redesign of the Louis Round Wilson Special Collections 10,000 page manually coded website to a 100 page responsive WordPress site. 2014
http://library.unc.edu/wilson/
Followed the website goals created during the main library’s redesign
Met with stakeholders to determine needs and gain buy-in 
Conducted a content audit
Designed the website’s look and feel
Worked closely with WordPress developers and directed the site build-out
Kept stakeholders informed throughout the project 
Coordinated with 10+ content creators and managed the content migration

Project (ongoing) 
Direct usability initiatives to identify pain points and inform website strategy and design. This includes: 
Conduct in-person usability tests with core users 
Utilize Optimal Workshop suite to conduct web-based user research 
Employ Optimizely A/B testing tool to regularly test specific website features
Make iterative design and content changes based on usability results 


Instructional Design & Technology Librarian, UNC-Chapel Hill Libraries
Chapel Hill, NC — 2001 - 2012
Served as the point person for the library's usability studies
Designed and developed interfaces for the library’s website  
Oversaw the development and maintenance of the library’s online instructional modules and tutorials 
Conducted tailored instruction sessions related to web design, web development, and the Adobe Design suite.  Programs include Photoshop, Dreamweaver and InDesign 
Managed all day-to-day and administrative functions of the Library’s Design Lab, including scheduling; hiring; training; supervising graduate student assistants; maintaining equipment; and planning for new hardware and software based on current and anticipated demand

Instruction Librarian, Christian Brothers University 
Memphis, TN — 2000 - 2001

Responsibilities:
Responsible for the design and maintenance of the library’s web site
Coordinated the library’s instruction program
Delivered instruction and provided reference to students, faculty, and staff
Served as the library liaison for the Writing Center 



EDUCATION
University of Texas at Austin
Master's in Information Science, 1999

Flagler College, St. Augustine
Bachelor of Arts: English & Communications, 1997


SKILLS
Adobe Creative Suite, Content Management, CSS, HTML, Information Architecture, Project Management, Qualtrics, Web Design, Presentation Skills, Teaching, User Experience, User Interface Design, Usability Testing, User-centered Design, WordPress, Writing for the Web

 
        </div>
</section>
