<br /><br />  <!-- Experience Section -->
    <section id="experience">
        <div class="container">
         <h2 class="section-heading" align="center">Experience</h2>
 
            <br /><br />   
            
 <h4>Digital Solutions Manager, UNC-Chapel Hill ITS</h4>
Chapel Hill, NC — 2015-present  
<p>I manage Digital Services, a department within Information Technology Services (ITS). We provide design, development, and web content management services to central IT and the university community. 
Digital Services is responsible for the management and maintenance of Carolina’s 12,000+ site WordPress Multisite.  I often serve as a project manager for units across campus to help them create or 
redesign their web precense.  Our customers range from individual students and professors creating self-service WordPress sites to large organizations and schools with customized websites. </p>
                    
 <br /><br />           
         
<h4>Head of User Experience, UNC-Chapel Hill Libraries</h4>
Chapel Hill, NC — 2012-2015

<p>I managed a small team and directed the development of the library’s web presence.  I focused on enhancing the user’s experience and 
finding ways to make disparate systems with different interfaces appear seamless and easy for researchers to navigate.  
I was responsible for identifying trends in user behavior and directing web usability and assessment activities. I served as 
a resource for staff and an advocate for user needs. Because our work often brought about changes and improvements to workflows and 
interfaces, I ensured that our decisions based on user research were communicated to partners and stakeholders. </p>

            <br /><br />  

<h4>Instructional Design & Technology Librarian, UNC-Chapel Hill Libraries</h4>
Chapel Hill, NC — 2001 - 2012
<p>I served as the point person for the library's usability studies. I designed and developed interfaces for the library’s website and 
oversaw the development and maintenance of the library’s online instructional modules and tutorials. I conducted tailored 
instruction sessions related to web design, web development, and the Adobe Design suite.  I managed all day-to-day and administrative 
functions of the Library’s Design Lab, including scheduling; hiring; training; supervising graduate student assistants; 
 maintaining equipment; and planning for new hardware and software based on current and anticipated demand.</p>

            <br /><br />  
            
<h4>Instruction Librarian, Christian Brothers University </h4>
Memphis, TN — 2000 - 2001
<p>I was Responsible for the design and maintenance of the library’s web site. I coordinated the library’s instruction program, 
delivered instruction and provided reference to students, faculty, and staff. I served as the library liaison for the Writing Center.</p>

<br /><br />  

            <h4>EDUCATION</h4>
<p>University of Texas at Austin<br />
    Master's in Library & Information Science</p>

<p>Flagler College<br />
    Bachelor of Arts: English & Communications</p>



 
        </div>
</section>
