<!-- Presentations Section -->
    <section id="presentations">
        <div class="container">
            <div class="row">
                 <h2 class="section-heading" align="center">Presentations</h2><br />
               <div class="col-xs-12 col-sm-12 col-lg-8">
                   <p>Building Accessibility into your Digital Landscape, edui in Charlottesville, NC. October 2018.</p>
                   <p>Improving Usability with Accessibility, We Are NC Gov. #1 in Raleigh, NC. May 2018</p>
                   <p>The Decentralized University: Improving Digital Experiences One Site at a Time, edui in Charlottesville, Va. September 2017.</p>
                <p>Let's talk Accessibility, Carolina Technology Consultants (CTC) Retreat in Chapel Hill, NC, October 2016. Roudtable moderator with Rachell Underhill
               <p> Designing for the Entire User Journey, edui in Charlottesville, Va. November 2015. Panel with Jill Heinz and Emily Daly.</p>
<p>Raising your Puppy and Domesticating Your Website, edui in Charlottesville, Va. November 2015. Co-presented with Chad Haefele</p>
               
  <p>The User Experience – Not Just About the Website, Carolina Technology Consultants (CTC) Retreat in Chapel Hill, NC, October 2015. Co-presented with Daniel Pshock              
<p>The User Experience – Not Just About the Website, TRLN Annual Meeting in Chapel Hill, NC July 2015. Co-presented with Chad Haefele</p>
<p>Responsive Approaches: Redesigning Websites for Duke, NCSU and UNC Libraries, TRLN Annual Meeting in Chapel Hill, NC July 2014. Co-presented with Emily Daly and Charlie Morris.</p>
<p>“Re-Imagining the Library Website Experience.” Computers in Libraries in Washington, DC. April 2014. Co-presented with Chad Haefele.</p>
                </div>
                   <div class="col-xs-12 col-sm-12 col-lg-4">  
                    <p><img src="img/presentation.jpg" style="padding:15px; border:1px solid #333" alt="Kim presenting at edui" /> </p> 
                </div>
   <div class="col-lg-12">                    
<p>“Getting ‘Em on Board: Guiding Staff Through Times of Change.” edui in Richmond, Va. November 2013. Co-presented with Rebecca Blakiston.</p>
<p>“Getting ‘Em on Board: Guiding Staff Through Times of Change.” UNC Webmasters in Chapel Hill, NC. October 2013.</p>
<p>“Taming the Hydra: A Strategic Approach to Maintaining Libguides.” North Carolina Library Association Biennial Conference, in Winston-Salem, NC. October 2013. Co-presented with Emily King and Chad Haefele.</p>
<p>“LibGuides: Sustaining & Embedding Strategies.” Computers in Libraries in Washington, DC. April 2013.</p>
<p>“Developing Gold Star Librarians to Provide Excellent Public Service: A Comprehensive Training Model.” Librarians’ Association at the University of North Carolina at Chapel Hill. March, 2012. Co-presented with Suchi Mohanty.</p>
<p>“Taming the Hydra: Prioritizing High‐Quality Subject Guide.” Librarians’ Association at the University of North Carolina at Chapel Hill. March, 2012. Co-presented with Emily King.</p>
<p>“Focusing on Instruction.” North Carolina Library Association Biennial Conference in Hickory, NC. October 2011.</p>
<p>Together is Better: collaborative creation of an online tutorial” Lightning Talk @ TRLN Annual Meeting in Chapel Hill. July 2011.</p>
<p>“Designing for the Web”. TRLN Annual meeting in Chapel Hill. July 2009, Co-presented with Emily King.</p>
<p>“Personalizing the UNC Library”. LAUNC-CH Annual Conference in Chapel Hill, NC. March 2009. Co-presented with Jacqueline Solis.</p>
<p>“Beyond Volume Count: Exploring Evolving Tools for Evaluating Library Quality Presentation”. American Association of Law Libraries Annual Conference in Portland, OR. July 2008. Co-presented with Kumar Percy Jayasuriya; Barbara Bintliff; Frances M Brillantine</p>
<p>“Digital Reference in a Next Generation Union Catalog”. LIDA 2008: Libraries in the Digital Age in Dubrovnik, Croatia. June 2008. Co-presented with Pam Sessoms, Jacqueline Solis, and Lisa Norberg.</p>
<p>“Search TRLN Project”. TRLN Annual meeting in Chapel Hill. July 2007, (Co-presented with Derek Rodriquez and Emily Lynema.</p>
<p>“Mastering the Subtle Art of Library Instruction” Poster. ACRL Conference in Baltimore, April 2007. Co-presented with Lisa Norberg.</p>
<p>“Creating Instant Connections: Supporting Students’ Information Needs Through an Instant Messenger Reference Service”. UNC TLT Conference in Raleigh. March 2007. Co-presented with Suchi Mohanty.</p>
    <br />
                <h3>Publications</h3>
<p>Mohanty, S., Norberg L,. Vassiliadis, K. (2007). Sophisticated simplicity in e-learning : online instruction at UNC-Chapel Hill. In A. Daugherty and M. F. Russo (Eds.), Information literacy programs in the digital age. Chicago: Association of College and Research Libraries.</p>
<p>Markgren S., Dickinson, T., Leonard, A., Vassiliadis K., (2007). “The Five Year Itch: Are Libraries losing their Most Valuable Resources?”. Library Administration & Management 21 (2): 70-76.</p>
<p>Norberg, L.R., Vassiliadis, K., Ferguson, J., and Smith, N. (2005). “Sustainable Design for Multiple Audiences: The Usability Study and Iterative Redesign of the Documenting the American South Digital Library.” OCLC Systems & Services, 21(4): 285-299.</p>
<p>Vassiliadis, K. and Stimatz [Norberg] L.R. (2002). “The Instruction Librarian’s Role in Creating a Usable Web Site.” Reference Services Review, 30(4): 338-342</p>

                
                
                </div>
                </div>
        </div>
</section>
